select {
    background-color: #bed5ed;
}

table.lead {
    color: #000000;

}

body.schedule {
    background-image: url(sp.jpg);
    background-repeat: repeat;
    background-size: cover;
    background-attachment: fixed;

}

a {
    font-weight: 700;
    color: #5a5a5a;
    text-decoration: none;
    transition: color 0.5s;
}

a:hover {
    color: #ffa500
}

table {
    margin: 20px 0 0 0;
}